.hello{
    background-image: url(./images/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.field{
    margin-top: 15px;
}

.ocard{
    margin-top: 100px;
    padding-left: 580px;
}

.images{
    min-height: 100px;
}

.card-body{
    text-align: center;
}

.card-header{
    text-align: center;
}

.foots{
    background-color: white;
    min-height: 100px;
    margin-top: 250px;
}
.homebtn{
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    
}
.button{
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgb(148, 106, 148);
}
.homecard{
    margin-left: 150px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.card{
    margin-top: 150px;
}
.card-img-top{
    border-style: solid;
}


    

    
    
